@model Eileen.Data.PagedResults<Eileen.Data.Book>

@{
    ViewData["Title"] = "Libri";
}

<h2>Libri</h2>

<ul>
    @foreach (var book in Model.Results)
    {
        <li>
            <a asp-controller="Book" asp-action="Index" asp-route-id="@book.Id">@book.Title
                @if (@book.Author != null)
                {
                    <span> (@book.Author.Name)</span>   
                }</a>
        </li>
    }
</ul>

@await Component.InvokeAsync("Eileen.PagedResultsNavigation", @Model)