# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy ASP.Net Core app to Azure Web App - eileen

on:
  push:
    tags: ["*.*.*"]
env:
  DOTNET_NOLOGO: true
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@master

    - name: Set up .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '5.0.x'

    - name: Build with dotnet
      run: ./build.sh

    - name: dotnet publish
      run: dotnet publish ./src/Eileen/Eileen.csproj -c Release -o ${{env.DOTNET_ROOT}}/myapp

    - name: Deploy to Azure Web App
      uses: azure/webapps-deploy@v2
      with:
        app-name: 'eileen'
        slot-name: 'production'
        publish-profile: ${{ secrets.AzureAppService_PublishProfile_2e8c9d17175d4460852dde967f68f78d }}
        package: ${{env.DOTNET_ROOT}}/myapp 
